{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb/base",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["prettier"],
  "globals": {
    "VERSION": false
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/no-named-as-default": 0,
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-plusplus": 0,
    "no-param-reassign": ["error", { "props": false }],
    "prefer-destructuring": 0,
    "no-continue": 0,
    "prefer-spread": 0,
    "no-restricted-syntax": ["off", "ForOfStatement"]
  },
  "settings": {
    "react": {
      "version": "16"
    }
  }
}
